[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=prevent_overzoom
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Prevent overzoom
Comment=Zoom function that does not zoom over 100%.
